//Colors

$color-quarty: #55c57a;
$color-quarty-light: #7ed56f;
$color-quarty-dark: #28b485;


$color-primary: #55afc5;
$color-primary-light: #79d7e7;
$color-primary-dark: #288cb4;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


//Fonts
$default-font-size: 1.6rem;



//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
